This is the notebook for how the API data is pulled. The methods are inspired by https://medium.com/analytics-vidhya/getting-started-with-fantasy-premier-league-data-56d3b9be8c32.

# Installing/Importing Packages

In [6]:
import requests, json
from pprint import pprint
import pandas as pd

In [5]:
#There is a base url for all the FPL API endpoints

base_url = 'https://fantasy.premierleague.com/api/'

# reading in as a json file

r = requests.get(base_url + 'bootstrap-static/').json()

# showing the top lvl fields

pprint(r, indent = 2, depth = 1, compact = True)

{ 'element_stats': [...],
  'element_types': [...],
  'elements': [...],
  'events': [...],
  'game_settings': {...},
  'phases': [...],
  'teams': [...],
  'total_players': 10257178}

# Creating Players Df

In [7]:
#creating pandas df
players = pd.json_normalize(r['elements'])

In [11]:
pd.set_option('display.max_columns', None)

In [12]:
players.sample(5)

,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,element_type,ep_next,ep_this,event_points,first_name,form,id,in_dreamteam,news,news_added,now_cost,photo,points_per_game,second_name,selected_by_percent,special,squad_number,status,team,team_code,total_points,transfers_in,transfers_in_event,transfers_out,transfers_out_event,value_form,value_season,web_name,minutes,goals_scored,assists,clean_sheets,goals_conceded,own_goals,penalties_saved,penalties_missed,yellow_cards,red_cards,saves,bonus,bps,influence,creativity,threat,ict_index,starts,expected_goals,expected_assists,expected_goal_involvements,expected_goals_conceded,influence_rank,influence_rank_type,creativity_rank,creativity_rank_type,threat_rank,threat_rank_type,ict_index_rank,ict_index_rank_type,corners_and_indirect_freekicks_order,corners_and_indirect_freekicks_text,direct_freekicks_order,direct_freekicks_text,penalties_order,penalties_text,expected_goals_per_90,saves_per_90,expected_assists_per_90,expected_goal_involvements_per_90,expected_goals_conceded_per_90,goals_conceded_per_90,now_cost_rank,now_cost_rank_type,form_rank,form_rank_type,points_per_game_rank,points_per_game_rank_type,selected_rank,selected_rank_type,starts_per_90,clean_sheets_per_90
681,100.0,100.0,109533,0,0,0,0,0,2,-0.3,-0.3,0,Emerson,-0.3,532,False,,2023-10-22T21:00:08.515376Z,45,109533.jpg,2.0,Palmieri dos Santos,0.6,False,None,a,19,21,20,82222,2354,68806,1046,-0.1,4.4,Emerson,900,0,2,1,19,0,0,0,6,0,0,2,134,164.6,125.1,39.0,32.9,10,0.12,1.29,1.41,19.90,116,41,81,16,215,56,122,30,NaN,,NaN,,NaN,,0.01,0.0,0.13,0.14,1.99,1.90,360,58,728,235,239,78,213,80,1.00,0.10
419,NaN,NaN,77818,-1,1,-2,2,0,1,-1.0,-1.0,0,James,0.0,335,False,,None,43,77818.jpg,0.0,Shea,0.1,False,None,a,12,102,0,1358,27,9863,86,0.0,0.0,Shea,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0.00,0.00,0.00,0.00,552,77,538,61,519,56,558,77,NaN,,NaN,,NaN,,0.00,0.0,0.00,0.00,0.00,0.00,559,29,481,76,563,77,373,55,0.00,0.00
302,NaN,NaN,121599,0,0,0,0,0,3,2.0,2.0,1,Abdoulaye,2.0,249,False,,None,55,121599.jpg,3.7,Doucouré,0.7,False,None,a,9,11,41,139167,1552,98037,4638,0.4,7.5,A.Doucoure,948,3,1,2,15,0,0,0,2,0,0,2,148,202.6,215.0,348.0,76.8,11,3.85,0.75,4.60,14.11,71,27,37,30,10,6,18,14,NaN,,NaN,,NaN,,0.37,0.0,0.07,0.44,1.34,1.42,97,59,162,75,83,39,198,67,1.04,0.19
127,0.0,0.0,144485,0,0,-1,1,0,4,0.0,0.0,0,Ivan,0.0,117,False,Suspended until 20 Jan,2023-07-05T16:30:03.752728Z,79,144485.jpg,0.0,Toney,0.1,False,None,s,4,94,0,3935,189,10892,187,0.0,0.0,Toney,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0.00,0.00,0.00,0.00,732,93,732,93,732,93,732,93,NaN,,1.0,,1.0,,0.00,0.0,0.00,0.00,0.00,0.00,13,5,724,93,730,93,454,68,0.00,0.00
623,NaN,NaN,523957,0,0,-3,3,0,4,-0.2,-0.2,0,Bénie,0.3,593,False,,None,52,523957.jpg,1.5,Traoré,0.0,False,None,a,17,49,9,6780,74,11044,122,0.1,1.7,T.Bénie,323,0,0,0,9,0,0,0,0,0,0,0,7,20.4,42.3,29.0,9.0,3,0.27,0.40,0.67,9.55,366,43,240,39,248,46,332,45,NaN,,NaN,,NaN,,0.08,0.0,0.11,0.19,2.66,2.51,163,42,357,45,307,38,533,75,0.84,0.00

In [13]:
players.sort_values(by = 'id')

,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,element_type,ep_next,ep_this,event_points,first_name,form,id,in_dreamteam,news,news_added,now_cost,photo,points_per_game,second_name,selected_by_percent,special,squad_number,status,team,team_code,total_points,transfers_in,transfers_in_event,transfers_out,transfers_out_event,value_form,value_season,web_name,minutes,goals_scored,assists,clean_sheets,goals_conceded,own_goals,penalties_saved,penalties_missed,yellow_cards,red_cards,saves,bonus,bps,influence,creativity,threat,ict_index,starts,expected_goals,expected_assists,expected_goal_involvements,expected_goals_conceded,influence_rank,influence_rank_type,creativity_rank,creativity_rank_type,threat_rank,threat_rank_type,ict_index_rank,ict_index_rank_type,corners_and_indirect_freekicks_order,corners_and_indirect_freekicks_text,direct_freekicks_order,direct_freekicks_text,penalties_order,penalties_text,expected_goals_per_90,saves_per_90,expected_assists_per_90,expected_goal_involvements_per_90,expected_goals_conceded_per_90,goals_conceded_per_90,now_cost_rank,now_cost_rank_type,form_rank,form_rank_type,points_per_game_rank,points_per_game_rank_type,selected_rank,selected_rank_type,starts_per_90,clean_sheets_per_90
0,0.0,0.0,232223,0,0,-1,1,0,4,0.0,0.0,0,Folarin,0.0,1,False,Transferred to Monaco,2023-08-31T08:55:15.272751Z,44,232223.jpg,0.0,Balogun,0.2,False,None,u,1,3,0,10024,0,58600,313,0.0,0.0,Balogun,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0.00,0.00,0.00,0.00,586,56,578,60,566,58,592,58,NaN,,NaN,,NaN,,0.00,0.0,0.00,0.00,0.00,0.00,518,90,534,53,597,61,301,47,0.00,0.00
1,NaN,NaN,58822,0,0,-1,1,0,2,1.0,0.0,0,Cédric,0.0,2,False,,None,39,58822.jpg,0.0,Alves Soares,0.4,False,None,a,1,3,0,25332,512,27153,878,0.0,0.0,Cédric,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0.00,0.00,0.00,0.00,449,159,431,156,406,145,455,159,NaN,,NaN,,NaN,,0.00,0.0,0.00,0.00,0.00,0.00,703,224,367,115,459,155,248,94,0.00,0.00
2,100.0,100.0,153256,0,0,-1,1,0,3,2.3,1.3,0,Mohamed,1.3,3,False,,2023-08-11T13:00:06.079379Z,44,153256.jpg,4.0,Elneny,0.1,False,None,a,1,3,4,10693,218,13281,563,0.3,0.9,M.Elneny,1,0,1,0,0,0,0,0,0,0,0,0,12,1.8,0.5,2.0,0.4,0,0.00,0.00,0.00,0.00,436,203,408,203,389,194,439,204,NaN,,NaN,,NaN,,0.00,0.0,0.00,0.00,0.00,0.00,487,276,205,100,54,29,399,129,0.00,0.00
3,100.0,100.0,438098,0,0,-1,1,0,3,3.3,2.3,1,Fábio,2.3,4,False,,2023-09-29T10:30:07.948136Z,54,438098.jpg,3.3,Ferreira Vieira,0.1,False,None,a,1,3,23,10848,161,14301,278,0.4,4.3,Fábio Vieira,213,1,3,1,2,0,0,0,0,0,0,0,69,79.4,63.3,77.0,21.9,2,1.20,0.35,1.55,1.41,247,97,182,106,141,87,211,103,5.0,,NaN,,4.0,,0.51,0.0,0.15,0.66,0.60,0.85,129,83,138,60,111,47,381,122,0.85,0.42
4,100.0,100.0,226597,0,0,-2,2,0,2,2.0,1.0,2,Gabriel,1.0,5,False,,2023-09-30T23:00:07.672676Z,48,226597.jpg,3.0,dos Santos Magalhães,14.2,False,None,a,1,3,27,738164,33495,2233106,13647,0.2,5.6,Gabriel,654,0,0,3,6,0,0,0,1,0,0,2,132,127.2,13.8,27.0,16.9,7,0.20,0.08,0.28,7.20,160,61,348,120,255,77,253,82,NaN,,NaN,,NaN,,0.03,0.0,0.01,0.04,0.99,0.83,305,35,251,80,136,44,27,9,0.96,0.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
632,NaN,NaN,585472,0,0,0,0,0,3,-0.2,-0.2,0,Ryan,0.3,730,False,,None,45,585472.jpg,1.0,Oné,0.0,False,None,a,17,49,1,196,13,54,17,0.1,0.2,Oné,7,0,0,0,2,0,0,0,0,0,0,0,3,0.0,0.3,0.0,0.0,0,0.00,0.00,0.00,1.28,667,271,418,208,656,270,672,274,NaN,,NaN,,NaN,,0.00,0.0,0.00,0.00,16.46,25.71,459,265,337,158,393,182,725,309,0.00,0.00
633,NaN,NaN,601496,0,0,0,0,0,2,-0.5,-0.5,0,Jili,0.0,731,False,,None,40,601496.jpg,0.0,Buyabu,0.0,False,None,a,17,49,0,519,46,157,42,0.0,0.0,Buyabu,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0.00,0.00,0.00,0.00,549,213,534,210,512,202,555,213,NaN,,NaN,,NaN,,0.00,0.0,0.00,0.00,0.00,0.00,699,222,476,177,559,209,685,230,0.00,0.00
362,NaN,NaN,487693,0,0,0,0,0,2,0.0,-0.5,0,Devan,0.0,732,False,,None,40,487693.jpg,0.0,Tanton,0.0,False,None,a,10,54,0,272,45,52,35,0.0,0.0,Tanton,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0.00,0.00,0.00,0.00,535,202,520,199,498,191,541,202,NaN,,NaN,,NaN,,0.00,0.0,0.00,0.00,0.00,0.00,684,210,462,166,545,198,712,236,0.00,0.00
137,NaN,NaN,516432,0,0,0,0,0,2,0.8,1.3,0,Valintino,0.0,733,False,,None,40,516432.jpg,0.0,Adedokun,0.0,False,None,a,4,94,0,148,148,12,12,0.0,0.0,Adedokun,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0.00,0.00,0.00,0.00,542,206,527,203,505,195,548,206,NaN,,NaN,,NaN,,0.00,0.0,0.00,0.00,0.00,0.00,692,215,469,170,552,202,724,238,0.00,0.00
439,NaN,NaN,589114,0,0,0,0,0,3,0.2,0.2,0,Zack,0.0,734,False,,None,45,589114.jpg,0.0,Nelson,0.0,False,None,a,12,102,0,26,26,3,3,0.0,0.0,Nelson,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0.00,0.00,0.00,0.00,668,272,664,273,657,271,673,275,NaN,,NaN,,NaN,,0.00,0.0,0.00,0.00,0.00,0.00,460,266,626,248,673,277,733,315,0.00,0.00

In [10]:
#88 columns exist. Need to select only relevant columns.
#All variables relating to points are in different df
players.columns

Index(['chance_of_playing_next_round', 'chance_of_playing_this_round', 'code',
       'cost_change_event', 'cost_change_event_fall', 'cost_change_start',
       'cost_change_start_fall', 'dreamteam_count', 'element_type', 'ep_next',
       'ep_this', 'event_points', 'first_name', 'form', 'id', 'in_dreamteam',
       'news', 'news_added', 'now_cost', 'photo', 'points_per_game',
       'second_name', 'selected_by_percent', 'special', 'squad_number',
       'status', 'team', 'team_code', 'total_points', 'transfers_in',
       'transfers_in_event', 'transfers_out', 'transfers_out_event',
       'value_form', 'value_season', 'web_name', 'minutes', 'goals_scored',
       'assists', 'clean_sheets', 'goals_conceded', 'own_goals',
       'penalties_saved', 'penalties_missed', 'yellow_cards', 'red_cards',
       'saves', 'bonus', 'bps', 'influence', 'creativity', 'threat',
       'ict_index', 'starts', 'expected_goals', 'expected_assists',
       'expected_goal_involvements', 'expected_goals_conceded',
       'influence_rank', 'influence_rank_type', 'creativity_rank',
       'creativity_rank_type', 'threat_rank', 'threat_rank_type',
       'ict_index_rank', 'ict_index_rank_type',
       'corners_and_indirect_freekicks_order',
       'corners_and_indirect_freekicks_text', 'direct_freekicks_order',
       'direct_freekicks_text', 'penalties_order', 'penalties_text',
       'expected_goals_per_90', 'saves_per_90', 'expected_assists_per_90',
       'expected_goal_involvements_per_90', 'expected_goals_conceded_per_90',
       'goals_conceded_per_90', 'now_cost_rank', 'now_cost_rank_type',
       'form_rank', 'form_rank_type', 'points_per_game_rank',
       'points_per_game_rank_type', 'selected_rank', 'selected_rank_type',
       'starts_per_90', 'clean_sheets_per_90'],
      dtype='object')

In [14]:
Players_Df = players[[
    
    'id','web_name','team','element_type'
]]

In [15]:
Players_Df.head()

   id      web_name  team  element_type
0   1       Balogun     1             4
1   2        Cédric     1             2
2   3      M.Elneny     1             3
3   4  Fábio Vieira     1             3
4   5       Gabriel     1             2

# Team & Position Data

In [16]:
#Creating df of teams

teams = pd.json_normalize(r['teams'])

In [18]:
teams.columns

Index(['code', 'draw', 'form', 'id', 'loss', 'name', 'played', 'points',
       'position', 'short_name', 'strength', 'team_division', 'unavailable',
       'win', 'strength_overall_home', 'strength_overall_away',
       'strength_attack_home', 'strength_attack_away', 'strength_defence_home',
       'strength_defence_away', 'pulse_id'],
      dtype='object')

In [17]:
teams.head()

,code,draw,form,id,loss,name,played,points,position,short_name,strength,team_division,unavailable,win,strength_overall_home,strength_overall_away,strength_attack_home,strength_attack_away,strength_defence_home,strength_defence_away,pulse_id
0,3,0,None,1,0,Arsenal,0,0,0,ARS,4,None,False,0,1230,1285,1250,1250,1210,1320,1
1,7,0,None,2,0,Aston Villa,0,0,0,AVL,3,None,False,0,1115,1175,1130,1190,1100,1160,2
2,91,0,None,3,0,Bournemouth,0,0,0,BOU,3,None,False,0,1060,1095,1050,1100,1060,1090,127
3,94,0,None,4,0,Brentford,0,0,0,BRE,3,None,False,0,1125,1205,1120,1220,1130,1190,130
4,36,0,None,5,0,Brighton,0,0,0,BHA,3,None,False,0,1165,1210,1120,1200,1210,1240,131

In [50]:
#Need to select relevant columns

Teams_Df = teams[[
    
    'id','name','strength','strength_overall_home',
                 'strength_overall_away','strength_attack_home', 
                 'strength_attack_away', 'strength_defence_home',
       'strength_defence_away'
]]

In [51]:
Teams_Df.head()

,id,name,strength,strength_overall_home,strength_overall_away,strength_attack_home,strength_attack_away,strength_defence_home,strength_defence_away
0,1,Arsenal,4,1230,1285,1250,1250,1210,1320
1,2,Aston Villa,3,1115,1175,1130,1190,1100,1160
2,3,Bournemouth,3,1060,1095,1050,1100,1060,1090
3,4,Brentford,3,1125,1205,1120,1220,1130,1190
4,5,Brighton,3,1165,1210,1120,1200,1210,1240

In [26]:
positions = pd.json_normalize(r['element_types'])

positions.head()

,id,plural_name,plural_name_short,singular_name,singular_name_short,squad_select,squad_min_play,squad_max_play,ui_shirt_specific,sub_positions_locked,element_count
0,1,Goalkeepers,GKP,Goalkeeper,GKP,2,1,1,True,[12],85
1,2,Defenders,DEF,Defender,DEF,5,3,5,False,[],239
2,3,Midfielders,MID,Midfielder,MID,5,2,5,False,[],315
3,4,Forwards,FWD,Forward,FWD,3,1,3,False,[],94

In [49]:
#Selecting relevant columns 

Positions_Df = positions[[
    
    'id','singular_name'
    
]]
Positions_Df.head()

   id singular_name
0   1    Goalkeeper
1   2      Defender
2   3    Midfielder
3   4       Forward

In [53]:
fixtures = pd.json_normalize(r['fixtures'])
fixtures.head()

KeyError: 'fixtures'

# Creating Gameweek Data

In [30]:
def get_gameweek_history(player_id):
    '''get all gameweek info for a given player_id'''
    
    # send GET request to
    # https://fantasy.premierleague.com/api/element-summary/{PID}/
    r = requests.get(
            base_url + 'element-summary/' + str(player_id) + '/'
    ).json()
    
    # extract 'history' data from response into dataframe
    df = pd.json_normalize(r['history'])
    
    return df


# show player #4's gameweek history
get_gameweek_history(4)[
    [
        'round',
        'total_points',
        'minutes',
        'goals_scored',
        'assists'
    ]
].head()

   round  total_points  minutes  goals_scored  assists
0      1             0        0             0        0
1      2             0        0             0        0
2      3             7       34             0        2
3      4             4       13             0        1
4      5             3       79             0        0

In [35]:
from tqdm.auto import tqdm
tqdm.pandas()

In [41]:
points = Players_Df['id'].progress_apply(get_gameweek_history)

  0%|          | 0/733 [00:00<?, ?it/s]

In [42]:
points

0          element  fixture  opponent_team  total_poi...
1          element  fixture  opponent_team  total_poi...
2          element  fixture  opponent_team  total_poi...
3          element  fixture  opponent_team  total_poi...
4          element  fixture  opponent_team  total_poi...
                             ...
728        element  fixture  opponent_team  total_poi...
729       element  fixture  opponent_team  total_poin...
730       element  fixture  opponent_team  total_poin...
731       element  fixture  opponent_team  total_poin...
732       element  fixture  opponent_team  total_poin...
Name: id, Length: 733, dtype: object

In [43]:
Points_Df = pd.concat(df for df in points)

In [44]:
Points_Df.head()

,element,fixture,opponent_team,total_points,was_home,kickoff_time,team_h_score,team_a_score,round,minutes,goals_scored,assists,clean_sheets,goals_conceded,own_goals,penalties_saved,penalties_missed,yellow_cards,red_cards,saves,bonus,bps,influence,creativity,threat,ict_index,starts,expected_goals,expected_assists,expected_goal_involvements,expected_goals_conceded,value,transfers_balance,selected,transfers_in,transfers_out
0,1,2,16,0,True,2023-08-12T12:00:00Z,2,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0.00,0.00,0.00,0.00,45,0,59090,0,0
1,1,12,8,0,False,2023-08-21T19:00:00Z,0,1,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0.00,0.00,0.00,0.00,45,-4744,63768,4959,9703
2,1,21,10,0,True,2023-08-26T14:00:00Z,2,2,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0.00,0.00,0.00,0.00,45,-7682,58109,2507,10189
3,1,31,14,0,True,2023-09-03T15:30:00Z,3,1,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0.00,0.00,0.00,0.00,44,-9696,49814,2558,12254
4,1,43,9,0,False,2023-09-17T15:30:00Z,0,1,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0.00,0.00,0.00,0.00,44,-12786,37048,0,12786

In [59]:
# get data from 'element-summary/{PID}/' endpoint for PID=4
r = requests.get(base_url + 'element-summary/4/').json()

# show top-level fields for player summary
pprint(r, depth=1)

{'fixtures': [...], 'history': [...], 'history_past': [...]}

In [60]:
pprint(r['fixtures'][0])

{'code': 2367649,
 'difficulty': 2,
 'event': 12,
 'event_name': 'Gameweek 12',
 'finished': False,
 'id': 111,
 'is_home': True,
 'kickoff_time': '2023-11-11T15:00:00Z',
 'minutes': 0,
 'provisional_start_time': False,
 'team_a': 6,
 'team_a_score': None,
 'team_h': 1,
 'team_h_score': None}

In [61]:
def get_fixtures(player_id):
    '''get all fixture info for a given player_id'''
    
    # send GET request to
    # https://fantasy.premierleague.com/api/element-summary/{PID}/
    r = requests.get(
            base_url + 'element-summary/' + str(player_id) + '/'
    ).json()
    
    # extract 'fixtures' data from response into dataframe
    df = pd.json_normalize(r['fixtures'])
    
    return df

In [67]:
get_fixtures(1).head()

,id,code,team_h,team_h_score,team_a,team_a_score,event,finished,minutes,provisional_start_time,kickoff_time,event_name,is_home,difficulty
0,111,2367649,1,None,6,None,12,False,0,False,2023-11-11T15:00:00Z,Gameweek 12,True,2
1,121,2367658,4,None,1,None,13,False,0,False,2023-11-25T17:30:00Z,Gameweek 13,False,3
2,131,2367669,1,None,20,None,14,False,0,False,2023-12-02T15:00:00Z,Gameweek 14,True,2
3,146,2367683,12,None,1,None,15,False,0,False,2023-12-05T20:15:00Z,Gameweek 15,False,2
4,151,2367688,2,None,1,None,16,False,0,False,2023-12-09T17:30:00Z,Gameweek 16,False,3

In [77]:
# get gameweek histories for each player
fixtures = players['id'].progress_apply(get_fixtures)

# combine results into single dataframe
fixtures = pd.concat(df for df in fixtures)

  0%|          | 0/733 [00:00<?, ?it/s]

No need to keep every players fixtures.

In [78]:
fixtures['team_h'].value_counts()

16    1203
12    1132
7     1090
18    1022
2     1016
6     1003
20    1003
15     991
10     983
11     982
14     981
8      974
4      972
17     960
5      951
3      933
13     914
19     913
9      890
1      878
Name: team_h, dtype: int64

In [79]:
len(fixtures)

19791

In [80]:
#Selecting only required columns and dropping duplicate rows
fixtures_Df = fixtures[[
    
    'team_h','team_a','event_name','is_home'
]].drop_duplicates()

In [82]:
len(fixtures_Df)

540

# Saving all DFs to CSV

In [85]:
pwd

'/Users/jamieatiyah/Documents/FPL Data'

In [83]:
Players_Df.to_csv('Players_Df.csv', index=False)
Teams_Df.to_csv('Teams_Df.csv',index = False)
Positions_Df.to_csv('Positions_Df.csv',index = False)
Points_Df.to_csv('Points_Df.csv', index = False)
fixtures_Df.to_csv('Fixtures_Df.csv', index = False)